{% extends "account/base.html" %} {% load i18n %} {% load account %}
<!-- break -->
{% load bootstrap5 %}
<!-- break -->
{% block title %}{% trans "Password Reset" %}{% endblock %}
<!-- break -->
{% block content %}
<div class="container-fluid">
  <div
    class="row h-100 align-items-center justify-content-center"
    style="min-height: 100vh"
  >
    <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-6">
      <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %} {% include
        "account/snippets/already_logged_in.html" %} {% endif %}

        <p>
          {% blocktrans %}We have sent you an e-mail. Please contact us if you
          do not receive it within a few minutes.{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
